
.red {
  height: 50px;
  width: 50px;
  background-color: red;
  margin: 5px;
}

.red.selected {
  border-color: black;
  border-style: solid;
}

.blue {
  height: 50px;
  width: 50px;
  background-color: blue;
  margin: 5px;

}

.blue.selected {
  border-color: black;
  border-style: solid;
}

.green {
  height: 50px;
  width: 50px;
  background-color: green;
  margin: 5px;
}

.green.selected {
  border-color: black;
  border-style: solid;
}

.yellow {
  height: 50px;
  width: 50px;
  background-color:  yellow;
  margin: 5px;

}

.yellow.selected {
  border-color: black;
  border-style: solid;
}

.purple {
  height: 50px;
  width: 50px;
  background-color: purple;
  margin: 5px;

}

.purple.selected {
  border-color: black;
  border-style: solid;
}
.flex {
  display: flex;
  margin: 20px;
  font-size: 30px;
  padding: 20px;
}